<h1>Previous Batches</h1>

<ul>
    <% @batches.each do |batch| %>
        <li><%= link_to "Batch No. #{batch.id}", batch_path(batch), download: "" %> Uploaded at <%= batch.created_at.strftime("%m/%d/%y  %l:%M%p") %> </li>
    <% end %>
</ul>